In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../datasets/train.csv')

In [3]:
df.tail()

,POLICY_ID,OFFICE_ID,SIGORTA_TIP,SOZLESME_KOKENI,SOZLESME_KOKENI_DETAY,BASLANGIC_TARIHI,KAPSAM_TIPI,KAPSAM_GRUBU,DAGITIM_KANALI,POLICE_SEHIR,...,EYLUL_VADE_TUTARI,EKIM_ODENEN_TUTAR,EKIM_VADE_TUTARI,KASIM_ODENEN_TUTAR,KASIM_VADE_TUTARI,ARALIK_ODENEN_TUTAR,ARALIK_VADE_TUTARI,SENE_BASI_HESAP_DEGERI,SENE_SONU_HESAP_DEGERI,ARTIS_DURUMU
634107,9328578,10773,1,NEW,NEW,2012-04,PENSION056,EV HANIMI,Kanal4 + Kanal2,GAZ?ANTEP,...,480.0,480,480.0,480,480.0,480,480.0,31436.26,39605.59,0
634108,1037693,10591,4,TRANS_TF,TRANS,2014-10,PENSION221,GRUPLANMAMI?,Kanal1,?STANBUL,...,95.0,95,95.0,95,95.0,95,95.0,798503.14,1045948.58,0
634109,4285594,11422,1,NEW,NEW,2013-03,PENSION195,GRUPLANMAMI?,Kanal4 + Kanal2,TRABZON,...,287.0,0,287.0,0,287.0,0,287.0,20958.77,23038.39,0
634110,5443282,10348,1,NEW,NEW,2014-05,PENSION215,GRUPLANMAMI?,Kanal4 + Kanal2,MERS?N,...,170.0,0,170.0,0,170.0,0,170.0,122.63,133.85,0
634111,6271932,10029,1,NEW,NEW,2014-12,PENSION215,GRUPLANMAMI?,Kanal1 + Kanal2,MAN?SA,...,270.0,0,270.0,0,270.0,0,270.0,59.57,63.84,0

In [4]:
df.columns

Index(['POLICY_ID', 'OFFICE_ID', 'SIGORTA_TIP', 'SOZLESME_KOKENI',
       'SOZLESME_KOKENI_DETAY', 'BASLANGIC_TARIHI', 'KAPSAM_TIPI',
       'KAPSAM_GRUBU', 'DAGITIM_KANALI', 'POLICE_SEHIR', 'DOGUM_TARIHI',
       'CINSIYET', 'UYRUK', 'MEMLEKET', 'MESLEK', 'MESLEK_KIRILIM',
       'MUSTERI_SEGMENTI', 'YATIRIM_KARAKTERI', 'MEDENI_HAL', 'EGITIM_DURUM',
       'GELIR', 'COCUK_SAYISI', 'OCAK_ODENEN_TUTAR', 'OCAK_VADE_TUTARI',
       'SUBAT_ODENEN_TU', 'SUBAT_VADE_TUTARI', 'MART_ODENEN_TUTAR',
       'MART_VADE_TUTARI', 'NISAN_ODENEN_TUTAR', 'NISAN_VADE_TUTARI',
       'MAYIS_ODENEN_TUTAR', 'MAYIS_VADE_TUTARI', 'HAZIRAN_ODENEN_TUTAR',
       'HAZIRAN_VADE_TUTARI', 'TEMMUZ_ODENEN_TUTAR', 'TEMMUZ_VADE_TUTARI',
       'AGUSTOS_ODENEN_TUTAR', 'AGUSTOS_VADE_TUTARI', 'EYLUL_ODENEN_TUTAR',
       'EYLUL_VADE_TUTARI', 'EKIM_ODENEN_TUTAR', 'EKIM_VADE_TUTARI',
       'KASIM_ODENEN_TUTAR', 'KASIM_VADE_TUTARI', 'ARALIK_ODENEN_TUTAR',
       'ARALIK_VADE_TUTARI', 'SENE_BASI_HESAP_DEGERI',
       'SENE_SONU_HESAP_DEGERI', 'ARTIS_DURUMU'],
      dtype='object')

In [5]:
df.shape

(634112, 49)

In [6]:
df.dtypes

POLICY_ID                   int64
OFFICE_ID                   int64
SIGORTA_TIP                 int64
SOZLESME_KOKENI            object
SOZLESME_KOKENI_DETAY      object
BASLANGIC_TARIHI           object
KAPSAM_TIPI                object
KAPSAM_GRUBU               object
DAGITIM_KANALI             object
POLICE_SEHIR               object
DOGUM_TARIHI                int64
CINSIYET                    int64
UYRUK                      object
MEMLEKET                    int64
MESLEK                     object
MESLEK_KIRILIM             object
MUSTERI_SEGMENTI          float64
YATIRIM_KARAKTERI          object
MEDENI_HAL                 object
EGITIM_DURUM               object
GELIR                      object
COCUK_SAYISI              float64
OCAK_ODENEN_TUTAR           int64
OCAK_VADE_TUTARI          float64
SUBAT_ODENEN_TU             int64
SUBAT_VADE_TUTARI         float64
MART_ODENEN_TUTAR           int64
MART_VADE_TUTARI          float64
NISAN_ODENEN_TUTAR          int64
NISAN_VADE_TUTARI         float64
MAYIS_ODENEN_TUTAR          int64
MAYIS_VADE_TUTARI         float64
HAZIRAN_ODENEN_TUTAR        int64
HAZIRAN_VADE_TUTARI       float64
TEMMUZ_ODENEN_TUTAR         int64
TEMMUZ_VADE_TUTARI        float64
AGUSTOS_ODENEN_TUTAR        int64
AGUSTOS_VADE_TUTARI       float64
EYLUL_ODENEN_TUTAR          int64
EYLUL_VADE_TUTARI         float64
EKIM_ODENEN_TUTAR           int64
EKIM_VADE_TUTARI          float64
KASIM_ODENEN_TUTAR          int64
KASIM_VADE_TUTARI         float64
ARALIK_ODENEN_TUTAR         int64
ARALIK_VADE_TUTARI        float64
SENE_BASI_HESAP_DEGERI    float64
SENE_SONU_HESAP_DEGERI    float64
ARTIS_DURUMU                int64
dtype: object

In [7]:
# Yatırım karakteri boş mu değil mi iki sınıfta incele

df["YATIRIM_KARAKTERI"].fillna(0, inplace=True)
df["YATIRIM_KARAKTERI"] = df["YATIRIM_KARAKTERI"].apply(lambda x: 1 if x!=0 else 0)
df["YATIRIM_KARAKTERI"].isnull().sum()
df["YATIRIM_KARAKTERI"].value_counts()

0    558253
1     75859
Name: YATIRIM_KARAKTERI, dtype: int64

In [8]:
# Meslek Kırılım, Uyruk, Sözleşme Kökeni Detay, Dağıtım Kanalı, Age ve Cinsiyet drop edelim

drop_list = ["MESLEK_KIRILIM", "UYRUK", "CINSIYET", "SOZLESME_KOKENI_DETAY", "DAGITIM_KANALI"]
df.drop(drop_list, axis=1, inplace=True)

In [9]:
def replace_with(col, values, fillna=False):
    if  not fillna:
        col.fillna("null", inplace=True)
        
    for i in values:
        col = col.replace(i, "-".join(list(map(str, i))))
        
    return col

In [10]:
# Sigorta tip sınıfları : 6, 8-7, 4-1

g1 = [7,8]
g2 = [1,4]

df["SIGORTA_TIP"] = replace_with(df["SIGORTA_TIP"], [g1,g2])

In [11]:
# medeni hal : Mariage cancelled-divorced-widowed, married, single-boş-other

g1 = ["Marriage Cancelled","Divorced","Widowed"]
g2 = ["Single", "Null", "Other"]

df["MEDENI_HAL"] = replace_with(df["MEDENI_HAL"], [g1,g2], fillna=True)

In [12]:
# meslekte sektörleri 006-017-008-032-019-024-018-010-null-015-011 bunlar bi grup rest of

g1 = ['SEKT006','SEKT017','SEKT008','SEKT032','SEKT019','SEKT024','SEKT018','SEKT010','Null','SEKT015','SEKT011']
g2 = list(set(df["MESLEK"].dropna()) - set(g1))

df["MESLEK"] = replace_with(df["MESLEK"], [g1, g2], fillna=True)

In [13]:
# memleket sınıfları: 1, 2-3

df["MEMLEKET"] = replace_with(df["MEMLEKET"], [[2,3]])

In [14]:
# sözleşme kökeni: new-transtf, trans-transc-transl

g1 = ['NEW', 'TRANS_TF']
g2 = ['TRANS_C', 'TRANS_L', 'TRANS']

df["SOZLESME_KOKENI"] = replace_with(df["SOZLESME_KOKENI"], [g1,g2])

df["SOZLESME_KOKENI"].unique()

array(['NEW-TRANS_TF', 'TRANS_C-TRANS_L-TRANS'], dtype=object)

In [15]:
# kapsam grubu: ?GES STD GRUP ayrı categori olacak diğerleri ayrı

g1 = ["?GES STD GRUP"]
g2 = list(set(df["KAPSAM_GRUBU"]) - set(g1))

df["KAPSAM_GRUBU"] = replace_with(df["KAPSAM_GRUBU"], [g2])

In [16]:
# kapsam tipi average artış durumu 0.7 ve üzeri olanları grupla yani toplamda 2 sınıf olacak

grp = df.groupby("KAPSAM_TIPI")["ARTIS_DURUMU"].mean()
g1 = grp[grp>=0.7].index
g2 = grp[grp<0.7].index

df["KAPSAM_TIPI"] = replace_with(df["KAPSAM_TIPI"], [g1, g2])

In [17]:
# eğitim durumu : (Di?er)-Lise-null-?lkö?retim ayrı diğerleri ayrı

g1 = ["(Di?er)", "Lise", "Null", "?lkö?retim"]
g2 = list({'(Di?er)','?lkö?retim','Doktora','Lisans','Lise','Yüksek Lisans','Önlisans'} - set(g1))

df["EGITIM_DURUM"] = replace_with(df["EGITIM_DURUM"], [g1, g2], fillna=True)

In [18]:
# müşteri segmenti: 106, 105 ve diğerleri

g1 = [106,105]
g2 = list(set(df["MUSTERI_SEGMENTI"].dropna()) - set(g1)) + ["Null"]

df["MUSTERI_SEGMENTI"] = replace_with(df["MUSTERI_SEGMENTI"], [g2], fillna=True)

In [19]:
num_to_cat_cols = ['POLICY_ID','OFFICE_ID','SIGORTA_TIP','CINSIYET','MEMLEKET','MUSTERI_SEGMENTI']
for col in df.columns:
    if ((df[col].dtype == 'object') | (col in num_to_cat_cols)) & (col != 'GELIR'):
        df[col] = df[col].astype('category')

In [20]:
df['BASLANGIC_TARIHI'] = pd.to_datetime(df['BASLANGIC_TARIHI'].astype('str'), format='%Y/%m')
df = df[(df["GELIR"].str.contains(",")==False) | (df["GELIR"].isna())]

In [21]:
df['GELIR'] = df['GELIR'].astype('float')

In [22]:
df.dtypes

POLICY_ID                       category
OFFICE_ID                       category
SIGORTA_TIP                     category
SOZLESME_KOKENI                 category
BASLANGIC_TARIHI          datetime64[ns]
KAPSAM_TIPI                     category
KAPSAM_GRUBU                    category
POLICE_SEHIR                    category
DOGUM_TARIHI                       int64
MEMLEKET                        category
MESLEK                          category
MUSTERI_SEGMENTI                category
YATIRIM_KARAKTERI                  int64
MEDENI_HAL                      category
EGITIM_DURUM                    category
GELIR                            float64
COCUK_SAYISI                     float64
OCAK_ODENEN_TUTAR                  int64
OCAK_VADE_TUTARI                 float64
SUBAT_ODENEN_TU                    int64
SUBAT_VADE_TUTARI                float64
MART_ODENEN_TUTAR                  int64
MART_VADE_TUTARI                 float64
NISAN_ODENEN_TUTAR                 int64
NISAN_VADE_TUTARI                float64
MAYIS_ODENEN_TUTAR                 int64
MAYIS_VADE_TUTARI                float64
HAZIRAN_ODENEN_TUTAR               int64
HAZIRAN_VADE_TUTARI              float64
TEMMUZ_ODENEN_TUTAR                int64
TEMMUZ_VADE_TUTARI               float64
AGUSTOS_ODENEN_TUTAR               int64
AGUSTOS_VADE_TUTARI              float64
EYLUL_ODENEN_TUTAR                 int64
EYLUL_VADE_TUTARI                float64
EKIM_ODENEN_TUTAR                  int64
EKIM_VADE_TUTARI                 float64
KASIM_ODENEN_TUTAR                 int64
KASIM_VADE_TUTARI                float64
ARALIK_ODENEN_TUTAR                int64
ARALIK_VADE_TUTARI               float64
SENE_BASI_HESAP_DEGERI           float64
SENE_SONU_HESAP_DEGERI           float64
ARTIS_DURUMU                       int64
dtype: object